{% extends 'base.html.twig' %}

{% block body %}
    <h1>Expenses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Merchant</th>
                <th>Comment</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
            <tr>
                <td><a href="{{ path('expense_show', { 'id': expense.id }) }}">{{ expense.id }}</a></td>
                <td>{{ expense.amount }}</td>
                <td>{% if expense.date %}{{ expense.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ expense.merchant }}</td>
                <td>{{ expense.comment }}</td>
                <td>{{ expense.code }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('expense_show', { 'id': expense.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('expense_edit', { 'id': expense.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('expense_new') }}">Create a new expense</a>
        </li>
    </ul>
{% endblock %}
